.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content-area {
    flex: 1;
    background-color: #f2f2f2;
    min-height: calc(100vh - var(--header-total-height));
  }
}
